<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ksn.amatorfutboltv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission." />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeNoActionBar">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <activity
            android:name=".ui.prelogin.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.prelogin.WelcomeActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".ui.prelogin.LoginActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.prelogin.WelcomeActivity" />
        <activity
            android:name=".ui.prelogin.SignUpActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.prelogin.WelcomeActivity" />
        <activity
            android:name=".ui.browsing.MainActivity"
            android:label="@string/app_name" />

    </application>

</manifest>
